<form class="example-form" [formGroup]="userForm">
    <mat-form-field class="example-full-width">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="" formControlName="userName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <input matInput placeholder="" formControlName="age" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>qualification</mat-label>
      <input matInput placeholder="" formControlName="qualification" >
    </mat-form-field>
</form>
